<a href="https://colab.research.google.com/github/shaunhyp57/LMCO-Everglades-Robot-Behavior-Analytics/blob/master/analytics/svm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Support Vector Classifier import
from sklearn.svm import SVC

# Data Manipulation
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [2]:
url = 'https://raw.githubusercontent.com/shaunhyp57/LMCO-Everglades-Robot-Behavior-Analytics/master/analytics/data/first_tank_disband.csv'
cols = ['Game_ID','Player_0','Player_1','Player_1st_Tank_Disband','Turn_Count','Win_State']
data = pd.read_csv(url, names=cols,header=None)

players={'Player_0':0, 'Player_1':1}

def returncolname(row, colnames):
    return colnames[np.argmax(row.values)]

data['Winner'] = data.apply(lambda x: players.get(returncolname(x, data.columns),2), axis=1)

#data['Winner'] = data.apply(lambda x: data.columns[x.argmax()], axis = 1)
data.head()

   Game_ID  Player_0  Player_1  ...  Turn_Count  Win_State  Winner
0        1       917      1088  ...         150          1       1
1        2      1540      1749  ...         150          1       1
2        3      1371       808  ...         150          1       0
3        4       853       631  ...         150          1       0
4        5      1279      1085  ...         150          1       0

[5 rows x 7 columns]

In [3]:
feature_cols = ['Player_1st_Tank_Disband']
X = data[feature_cols]

action = np.zeros((7,2))
a = np.array([0,1])
action = np.tile(a, (7, 1))
#action = [[[0,1]] for i in range(7)]
action.shape

(7, 2)

In [4]:
y = data['Winner']

y.head()
y.shape

(5823,)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=4)

svc_model = SVC(kernel='linear')
svc_model.fit(X_train, y_train)
y_pred = svc_model.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.771978021978022

In [6]:
svc_model = SVC(kernel='linear')
scores = cross_val_score(svc_model, X, y, cv=10, scoring='accuracy')
print(scores)

[0.76500858 0.76500858 0.76500858 0.76460481 0.76632302 0.76632302
 0.76632302 0.76632302 0.76632302 0.76632302]